h1{
	text-align: center;
	font-size: 50px;
	font-family: Tahoma;
	font-style: italic;
}
h2{
	text-align: center;
	font-size: 20px;
	font-family: Tahoma;
}
h3{
	text-align: center;
	font-size: 20px;
	font-family: verdana;
}
body{
	background-image: url("Doge.jpg");
	background-size: 1920px 1080px;
}